.DS_Store
*.swp
*.docx

# ignore all dependencies that are included in deployment package
astropy*/
numpy*/
PIL*/
Pillow*/
**/classify_image/automl/**
**/classify_image/sagemaker/**

# ignore the deployment package
classify_image.zip

# retain lambda scripts
!lambda_function.py

# ignore outdated lambda scripts
stsci-image-classification-project/lambda-scripts/**
