.DS_Store
*.swp
*.docx

# ignore all dependencies that are included in deployment package
astropy*/
numpy*/
PIL*/
Pillow*/
classify_image/automl*
classify_image/sagemaker*

# retain only the lambda script 
!*lambda_function.py

# ignore the deployment package
classify_image.zip
